on: [push, pull_request]

env:
  ARTIFACT_PATH: ${{ env.RUNNER_TEMP }}/artifacts

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - run: npm install --ignore-scripts
    - run: npm test
    - run: |
        mkdir -p ${{ env.ARTIFACT_PATH }}
        npm pack . --pack-destination ${{ env.ARTIFACT_PATH }}
    
    - uses: actions/upload-artifact@v2
      with:
        name: artifacts
        path: ${{ env.ARTIFACT_PATH }}/*.tar.gz
