on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - run: npm install --ignore-scripts
    - run: npm test
    - run: npm pack .
    - uses: actions/upload-artifact@v2
      with:
        name: npm-package
        path: multicloud-control-plane-transformer-*.tar.gz

  publish:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/download-artifact@v2
      with:
        name: npm-package
    - run: ls -R
