on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repo
      uses: actions/checkout@v2

    - name: Setup Node
      uses: actions/setup-node@v2
      with:
        node-version: '14'
        cache: 'npm'

    - name: Install latest npm
      run: npm i -g npm

    - name: Install dependencies
      run: npm install --ignore-scripts

    - name: Run tests
      run: npm test

    - name: Create npm package
      run: |
        npm --version
        npm pack --help
        
        mkdir artifacts
        npm pack . --pack-destination artifacts

    - name: Upload build artifacts
      uses: actions/upload-artifact@v2
      with:
        name: artifacts
        path: artifacts/**/*
