on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - run: npm install --ignore-scripts
    - run: npm test
    - id: pack
      run: |
        ARTIFACT_PATH=$(mktemp -d)
        echo "::set-output name=ARTIFACT_PATH::$(echo $ARTIFACT_PATH)"

        npm pack . --pack-destination $ARTIFACT_PATH
    
    - uses: actions/upload-artifact@v2
      with:
        name: artifacts
        path: ${{ steps.pack.outputs.ARTIFACT_PATH }}/*.tar.gz
