on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '14'
        cache: 'npm'
    - run: npm i -g npm

    - run: npm install --ignore-scripts
    - run: npm test
    - run: mkdir artifacts
        npm pack . --pack-destination artifacts

    - uses: actions/upload-artifact@v2
      with:
        name: artifacts
        path: artifacts/**/*

  publish:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/download-artifact@v2
      with:
        name: artifacts
    - run: ls -R
